<div class="connectreq">
    <h3>Connections</h3>
    <div class="conlist">
<app-conn-list-el></app-conn-list-el>
<app-conn-list-el></app-conn-list-el>
<app-conn-list-el></app-conn-list-el>
<app-conn-list-el></app-conn-list-el>
<app-conn-list-el></app-conn-list-el>
<app-conn-list-el></app-conn-list-el>
<app-conn-list-el></app-conn-list-el>
<app-conn-list-el></app-conn-list-el>
<app-conn-list-el></app-conn-list-el>
<app-conn-list-el></app-conn-list-el>
<app-conn-list-el></app-conn-list-el>
<app-conn-list-el></app-conn-list-el>
    </div>

    <div class="roundbtn">

    </div>

</div>
