<div class="contactSection">
    
    <div class="conhead">
<p>Contacts</p>
<p>Search</p>
    </div>

    <div class="listcontainer">
<!-- listitems -->
<app-phn-list></app-phn-list>
<app-phn-list></app-phn-list>

<app-phn-list></app-phn-list>

<app-phn-list></app-phn-list>

<app-phn-list></app-phn-list>

<app-phn-list></app-phn-list>

<app-phn-list></app-phn-list>

<app-phn-list></app-phn-list>

<app-phn-list></app-phn-list>

<app-phn-list></app-phn-list>

    </div>

    <div class="actBtn">
<p>Add new</p>
<p>download</p>
<p>sync</p>

    </div>

</div>
