.pagecanvas{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column nowrap;
}

app-main-header{
    width: 100%;
}

app-main-disp-area{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* background-color: aqua; */
}